{
	"api_key": "ExakHJJ3CCTtiD6mp6G9edgSq",
	"api_secret": "n7V78XcuqcKGPMI4wd0PR9agFuqPm2bFYp5msFTm9g7wvJJAVa",
	"access_token": "36936178-HgzlCRl0G6W8GqHylgc4s9THly55TzNoj42bV4N2x",
	"access_token_secret": "tzzNeqp7PUSZfW6MweRDCYBzxqzWLD8SVTmOanXEECD4s"
}